#root{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: flex-start;
}

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ListaContadores{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Contador{
  display: flex;
  width: 150px;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 15px;
  background-color: cornflowerblue;
}

.Titulo{
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.Valor{
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.Botonera{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Boton{
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(197, 199, 211);
  border-radius: 20px;
  cursor: pointer;
  color: black;
}

.Formulario{
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgb(127, 102, 218);
border-radius: 15px;
padding: 15px 20px;
margin: 10px;
}